services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_DB: treenisofta
      POSTGRES_USER: treenisofta
      POSTGRES_PASSWORD: treenisofta_dev
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
